
// Common variables

// COLORS
$maintextcolor: rgb(255, 255, 255);
$contexttextcolor: grey;
$importanttextcolor: rgb(5, 198, 127);
$accentcolor: rgb(5, 198, 127);
$accentcolorbright: rgb(50, 240, 140);
$accentcoloralt: #00bfff;
$backgroundcolor: black;
$uicolor: #181a1b;
$uicoloralt: #272b2c;

// FONTS
$importantfont: "Ubuntu", "Lucida Console", "monospace";
$basefont: "Ubuntu", "Lucida Console", "monospace";

// PADDINGS
$textpadding: 2vh;
$buttonpadding: 10px;

// MARGINS
$uimargin: 1vh;
$buttonmargin: 1vh 0;

// OTHER
$uiborderradius: 15px;
$sidebarwidth: 19%;
$feedwidth: 100% - ($sidebarwidth*2);
$uivh: 94vh;
$avatarsize: 8vh;
$profileavatarsize: 20vh;
$buttonheight: 10vh;
